@charset "UTF-8";

/* montserrat-100 - cyrillic-ext_latin-ext_latin_cyrillic */
@font-face {
  font-family: "Montserrat fonts";
  src: url("../fonts/montserrat-v14-cyrillic-ext_latin-ext_latin_cyrillic-100.eot");
  /* IE9 Compat Modes */
  src: local("Montserrat Thin"), local("Montserrat-Thin"), url("../fonts/montserrat-v14-cyrillic-ext_latin-ext_latin_cyrillic-100.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v14-cyrillic-ext_latin-ext_latin_cyrillic-100.woff2") format("woff2"), url("../fonts/montserrat-v14-cyrillic-ext_latin-ext_latin_cyrillic-100.woff") format("woff"), url("../fonts/montserrat-v14-cyrillic-ext_latin-ext_latin_cyrillic-100.ttf") format("truetype"), url("../fonts/montserrat-v14-cyrillic-ext_latin-ext_latin_cyrillic-100.svg#Montserrat") format("svg");
  font-weight: 100;
  font-style: normal;
  font-display: fallback;
  /* Legacy iOS */
}

/* montserrat-100italic - cyrillic-ext_latin-ext_latin_cyrillic */
@font-face {
  font-family: "Montserrat fonts";
  src: url("../fonts/montserrat-v14-cyrillic-ext_latin-ext_latin_cyrillic-100italic.eot");
  /* IE9 Compat Modes */
  src: local("Montserrat Thin Italic"), local("Montserrat-ThinItalic"), url("../fonts/montserrat-v14-cyrillic-ext_latin-ext_latin_cyrillic-100italic.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v14-cyrillic-ext_latin-ext_latin_cyrillic-100italic.woff2") format("woff2"), url("../fonts/montserrat-v14-cyrillic-ext_latin-ext_latin_cyrillic-100italic.woff") format("woff"), url("../fonts/montserrat-v14-cyrillic-ext_latin-ext_latin_cyrillic-100italic.ttf") format("truetype"), url("../fonts/montserrat-v14-cyrillic-ext_latin-ext_latin_cyrillic-100italic.svg#Montserrat") format("svg");
  font-weight: 100;
  font-style: italic;
  font-display: fallback;
  /* Legacy iOS */
}

/* montserrat-200 - cyrillic-ext_latin-ext_latin_cyrillic */
@font-face {
  font-family: "Montserrat fonts";
  src: url("../fonts/montserrat-v14-cyrillic-ext_latin-ext_latin_cyrillic-200.eot");
  /* IE9 Compat Modes */
  src: local("Montserrat ExtraLight"), local("Montserrat-ExtraLight"), url("../fonts/montserrat-v14-cyrillic-ext_latin-ext_latin_cyrillic-200.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v14-cyrillic-ext_latin-ext_latin_cyrillic-200.woff2") format("woff2"), url("../fonts/montserrat-v14-cyrillic-ext_latin-ext_latin_cyrillic-200.woff") format("woff"), url("../fonts/montserrat-v14-cyrillic-ext_latin-ext_latin_cyrillic-200.ttf") format("truetype"), url("../fonts/montserrat-v14-cyrillic-ext_latin-ext_latin_cyrillic-200.svg#Montserrat") format("svg");
  font-weight: 200;
  font-style: normal;
  font-display: fallback;
  /* Legacy iOS */
}

/* montserrat-200italic - cyrillic-ext_latin-ext_latin_cyrillic */
@font-face {
  font-family: "Montserrat fonts";
  src: url("../fonts/montserrat-v14-cyrillic-ext_latin-ext_latin_cyrillic-200italic.eot");
  /* IE9 Compat Modes */
  src: local("Montserrat ExtraLight Italic"), local("Montserrat-ExtraLightItalic"), url("../fonts/montserrat-v14-cyrillic-ext_latin-ext_latin_cyrillic-200italic.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v14-cyrillic-ext_latin-ext_latin_cyrillic-200italic.woff2") format("woff2"), url("../fonts/montserrat-v14-cyrillic-ext_latin-ext_latin_cyrillic-200italic.woff") format("woff"), url("../fonts/montserrat-v14-cyrillic-ext_latin-ext_latin_cyrillic-200italic.ttf") format("truetype"), url("../fonts/montserrat-v14-cyrillic-ext_latin-ext_latin_cyrillic-200italic.svg#Montserrat") format("svg");
  font-weight: 200;
  font-style: italic;
  font-display: fallback;
  /* Legacy iOS */
}

/* montserrat-300 - cyrillic-ext_latin-ext_latin_cyrillic */
@font-face {
  font-family: "Montserrat fonts";
  src: url("../fonts/montserrat-v14-cyrillic-ext_latin-ext_latin_cyrillic-300.eot");
  /* IE9 Compat Modes */
  src: local("Montserrat Light"), local("Montserrat-Light"), url("../fonts/montserrat-v14-cyrillic-ext_latin-ext_latin_cyrillic-300.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v14-cyrillic-ext_latin-ext_latin_cyrillic-300.woff2") format("woff2"), url("../fonts/montserrat-v14-cyrillic-ext_latin-ext_latin_cyrillic-300.woff") format("woff"), url("../fonts/montserrat-v14-cyrillic-ext_latin-ext_latin_cyrillic-300.ttf") format("truetype"), url("../fonts/montserrat-v14-cyrillic-ext_latin-ext_latin_cyrillic-300.svg#Montserrat") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: fallback;
  /* Legacy iOS */
}

/* montserrat-300italic - cyrillic-ext_latin-ext_latin_cyrillic */
@font-face {
  font-family: "Montserrat fonts";
  src: url("../fonts/montserrat-v14-cyrillic-ext_latin-ext_latin_cyrillic-300italic.eot");
  /* IE9 Compat Modes */
  src: local("Montserrat Light Italic"), local("Montserrat-LightItalic"), url("../fonts/montserrat-v14-cyrillic-ext_latin-ext_latin_cyrillic-300italic.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v14-cyrillic-ext_latin-ext_latin_cyrillic-300italic.woff2") format("woff2"), url("../fonts/montserrat-v14-cyrillic-ext_latin-ext_latin_cyrillic-300italic.woff") format("woff"), url("../fonts/montserrat-v14-cyrillic-ext_latin-ext_latin_cyrillic-300italic.ttf") format("truetype"), url("../fonts/montserrat-v14-cyrillic-ext_latin-ext_latin_cyrillic-300italic.svg#Montserrat") format("svg");
  font-weight: 300;
  font-style: italic;
  font-display: fallback;
  /* Legacy iOS */
}

/* montserrat-regular - cyrillic-ext_latin-ext_latin_cyrillic */
@font-face {
  font-family: "Montserrat fonts";
  src: url("../fonts/montserrat-v14-cyrillic-ext_latin-ext_latin_cyrillic-regular.eot");
  /* IE9 Compat Modes */
  src: local("Montserrat Regular"), local("Montserrat-Regular"), url("../fonts/montserrat-v14-cyrillic-ext_latin-ext_latin_cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v14-cyrillic-ext_latin-ext_latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/montserrat-v14-cyrillic-ext_latin-ext_latin_cyrillic-regular.woff") format("woff"), url("../fonts/montserrat-v14-cyrillic-ext_latin-ext_latin_cyrillic-regular.ttf") format("truetype"), url("../fonts/montserrat-v14-cyrillic-ext_latin-ext_latin_cyrillic-regular.svg#Montserrat") format("svg");
  font-weight: 400;
  font-style: normal;
  font-display: fallback;
  /* Legacy iOS */
}

/* montserrat-italic - cyrillic-ext_latin-ext_latin_cyrillic */
@font-face {
  font-family: "Montserrat fonts";
  src: url("../fonts/montserrat-v14-cyrillic-ext_latin-ext_latin_cyrillic-italic.eot");
  /* IE9 Compat Modes */
  src: local("Montserrat Italic"), local("Montserrat-Italic"), url("../fonts/montserrat-v14-cyrillic-ext_latin-ext_latin_cyrillic-italic.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v14-cyrillic-ext_latin-ext_latin_cyrillic-italic.woff2") format("woff2"), url("../fonts/montserrat-v14-cyrillic-ext_latin-ext_latin_cyrillic-italic.woff") format("woff"), url("../fonts/montserrat-v14-cyrillic-ext_latin-ext_latin_cyrillic-italic.ttf") format("truetype"), url("../fonts/montserrat-v14-cyrillic-ext_latin-ext_latin_cyrillic-italic.svg#Montserrat") format("svg");
  font-weight: 400;
  font-style: italic;
  font-display: fallback;
  /* Legacy iOS */
}

/* montserrat-500 - cyrillic-ext_latin-ext_latin_cyrillic */
@font-face {
  font-family: "Montserrat fonts";
  src: url("../fonts/montserrat-v14-cyrillic-ext_latin-ext_latin_cyrillic-500.eot");
  /* IE9 Compat Modes */
  src: local("Montserrat Medium"), local("Montserrat-Medium"), url("../fonts/montserrat-v14-cyrillic-ext_latin-ext_latin_cyrillic-500.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v14-cyrillic-ext_latin-ext_latin_cyrillic-500.woff2") format("woff2"), url("../fonts/montserrat-v14-cyrillic-ext_latin-ext_latin_cyrillic-500.woff") format("woff"), url("../fonts/montserrat-v14-cyrillic-ext_latin-ext_latin_cyrillic-500.ttf") format("truetype"), url("../fonts/montserrat-v14-cyrillic-ext_latin-ext_latin_cyrillic-500.svg#Montserrat") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: fallback;
  /* Legacy iOS */
}

/* montserrat-500italic - cyrillic-ext_latin-ext_latin_cyrillic */
@font-face {
  font-family: "Montserrat fonts";
  src: url("../fonts/montserrat-v14-cyrillic-ext_latin-ext_latin_cyrillic-500italic.eot");
  /* IE9 Compat Modes */
  src: local("Montserrat Medium Italic"), local("Montserrat-MediumItalic"), url("../fonts/montserrat-v14-cyrillic-ext_latin-ext_latin_cyrillic-500italic.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v14-cyrillic-ext_latin-ext_latin_cyrillic-500italic.woff2") format("woff2"), url("../fonts/montserrat-v14-cyrillic-ext_latin-ext_latin_cyrillic-500italic.woff") format("woff"), url("../fonts/montserrat-v14-cyrillic-ext_latin-ext_latin_cyrillic-500italic.ttf") format("truetype"), url("../fonts/montserrat-v14-cyrillic-ext_latin-ext_latin_cyrillic-500italic.svg#Montserrat") format("svg");
  font-weight: 500;
  font-style: italic;
  font-display: fallback;
  /* Legacy iOS */
}

/* montserrat-600 - cyrillic-ext_latin-ext_latin_cyrillic */
@font-face {
  font-family: "Montserrat fonts";
  src: url("../fonts/montserrat-v14-cyrillic-ext_latin-ext_latin_cyrillic-600.eot");
  /* IE9 Compat Modes */
  src: local("Montserrat SemiBold"), local("Montserrat-SemiBold"), url("../fonts/montserrat-v14-cyrillic-ext_latin-ext_latin_cyrillic-600.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v14-cyrillic-ext_latin-ext_latin_cyrillic-600.woff2") format("woff2"), url("../fonts/montserrat-v14-cyrillic-ext_latin-ext_latin_cyrillic-600.woff") format("woff"), url("../fonts/montserrat-v14-cyrillic-ext_latin-ext_latin_cyrillic-600.ttf") format("truetype"), url("../fonts/montserrat-v14-cyrillic-ext_latin-ext_latin_cyrillic-600.svg#Montserrat") format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: fallback;
  /* Legacy iOS */
}

/* montserrat-600italic - cyrillic-ext_latin-ext_latin_cyrillic */
@font-face {
  font-family: "Montserrat fonts";
  src: url("../fonts/montserrat-v14-cyrillic-ext_latin-ext_latin_cyrillic-600italic.eot");
  /* IE9 Compat Modes */
  src: local("Montserrat SemiBold Italic"), local("Montserrat-SemiBoldItalic"), url("../fonts/montserrat-v14-cyrillic-ext_latin-ext_latin_cyrillic-600italic.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v14-cyrillic-ext_latin-ext_latin_cyrillic-600italic.woff2") format("woff2"), url("../fonts/montserrat-v14-cyrillic-ext_latin-ext_latin_cyrillic-600italic.woff") format("woff"), url("../fonts/montserrat-v14-cyrillic-ext_latin-ext_latin_cyrillic-600italic.ttf") format("truetype"), url("../fonts/montserrat-v14-cyrillic-ext_latin-ext_latin_cyrillic-600italic.svg#Montserrat") format("svg");
  font-weight: 600;
  font-style: italic;
  font-display: fallback;
  /* Legacy iOS */
}

/* montserrat-700 - cyrillic-ext_latin-ext_latin_cyrillic */
@font-face {
  font-family: "Montserrat fonts";
  src: url("../fonts/montserrat-v14-cyrillic-ext_latin-ext_latin_cyrillic-700.eot");
  /* IE9 Compat Modes */
  src: local("Montserrat Bold"), local("Montserrat-Bold"), url("../fonts/montserrat-v14-cyrillic-ext_latin-ext_latin_cyrillic-700.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v14-cyrillic-ext_latin-ext_latin_cyrillic-700.woff2") format("woff2"), url("../fonts/montserrat-v14-cyrillic-ext_latin-ext_latin_cyrillic-700.woff") format("woff"), url("../fonts/montserrat-v14-cyrillic-ext_latin-ext_latin_cyrillic-700.ttf") format("truetype"), url("../fonts/montserrat-v14-cyrillic-ext_latin-ext_latin_cyrillic-700.svg#Montserrat") format("svg");
  font-weight: 700;
  font-style: normal;
  font-display: fallback;
  /* Legacy iOS */
}

/* montserrat-700italic - cyrillic-ext_latin-ext_latin_cyrillic */
@font-face {
  font-family: "Montserrat fonts";
  src: url("../fonts/montserrat-v14-cyrillic-ext_latin-ext_latin_cyrillic-700italic.eot");
  /* IE9 Compat Modes */
  src: local("Montserrat Bold Italic"), local("Montserrat-BoldItalic"), url("../fonts/montserrat-v14-cyrillic-ext_latin-ext_latin_cyrillic-700italic.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v14-cyrillic-ext_latin-ext_latin_cyrillic-700italic.woff2") format("woff2"), url("../fonts/montserrat-v14-cyrillic-ext_latin-ext_latin_cyrillic-700italic.woff") format("woff"), url("../fonts/montserrat-v14-cyrillic-ext_latin-ext_latin_cyrillic-700italic.ttf") format("truetype"), url("../fonts/montserrat-v14-cyrillic-ext_latin-ext_latin_cyrillic-700italic.svg#Montserrat") format("svg");
  font-weight: 700;
  font-style: italic;
  font-display: fallback;
  /* Legacy iOS */
}

/* montserrat-800 - cyrillic-ext_latin-ext_latin_cyrillic */
@font-face {
  font-family: "Montserrat fonts";
  src: url("../fonts/montserrat-v14-cyrillic-ext_latin-ext_latin_cyrillic-800.eot");
  /* IE9 Compat Modes */
  src: local("Montserrat ExtraBold"), local("Montserrat-ExtraBold"), url("../fonts/montserrat-v14-cyrillic-ext_latin-ext_latin_cyrillic-800.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v14-cyrillic-ext_latin-ext_latin_cyrillic-800.woff2") format("woff2"), url("../fonts/montserrat-v14-cyrillic-ext_latin-ext_latin_cyrillic-800.woff") format("woff"), url("../fonts/montserrat-v14-cyrillic-ext_latin-ext_latin_cyrillic-800.ttf") format("truetype"), url("../fonts/montserrat-v14-cyrillic-ext_latin-ext_latin_cyrillic-800.svg#Montserrat") format("svg");
  font-weight: 800;
  font-style: normal;
  font-display: fallback;
  /* Legacy iOS */
}

/* montserrat-800italic - cyrillic-ext_latin-ext_latin_cyrillic */
@font-face {
  font-family: "Montserrat fonts";
  src: url("../fonts/montserrat-v14-cyrillic-ext_latin-ext_latin_cyrillic-800italic.eot");
  /* IE9 Compat Modes */
  src: local("Montserrat ExtraBold Italic"), local("Montserrat-ExtraBoldItalic"), url("../fonts/montserrat-v14-cyrillic-ext_latin-ext_latin_cyrillic-800italic.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v14-cyrillic-ext_latin-ext_latin_cyrillic-800italic.woff2") format("woff2"), url("../fonts/montserrat-v14-cyrillic-ext_latin-ext_latin_cyrillic-800italic.woff") format("woff"), url("../fonts/montserrat-v14-cyrillic-ext_latin-ext_latin_cyrillic-800italic.ttf") format("truetype"), url("../fonts/montserrat-v14-cyrillic-ext_latin-ext_latin_cyrillic-800italic.svg#Montserrat") format("svg");
  font-weight: 800;
  font-style: italic;
  font-display: fallback;
  /* Legacy iOS */
}

/* montserrat-900 - cyrillic-ext_latin-ext_latin_cyrillic */
@font-face {
  font-family: "Montserrat fonts";
  src: url("../fonts/montserrat-v14-cyrillic-ext_latin-ext_latin_cyrillic-900.eot");
  /* IE9 Compat Modes */
  src: local("Montserrat Black"), local("Montserrat-Black"), url("../fonts/montserrat-v14-cyrillic-ext_latin-ext_latin_cyrillic-900.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v14-cyrillic-ext_latin-ext_latin_cyrillic-900.woff2") format("woff2"), url("../fonts/montserrat-v14-cyrillic-ext_latin-ext_latin_cyrillic-900.woff") format("woff"), url("../fonts/montserrat-v14-cyrillic-ext_latin-ext_latin_cyrillic-900.ttf") format("truetype"), url("../fonts/montserrat-v14-cyrillic-ext_latin-ext_latin_cyrillic-900.svg#Montserrat") format("svg");
  font-weight: 900;
  font-style: normal;
  font-display: fallback;
  /* Legacy iOS */
}

/* montserrat-900italic - cyrillic-ext_latin-ext_latin_cyrillic */
@font-face {
  font-family: "Montserrat fonts";
  src: url("../fonts/montserrat-v14-cyrillic-ext_latin-ext_latin_cyrillic-900italic.eot");
  /* IE9 Compat Modes */
  src: local("Montserrat Black Italic"), local("Montserrat-BlackItalic"), url("../fonts/montserrat-v14-cyrillic-ext_latin-ext_latin_cyrillic-900italic.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v14-cyrillic-ext_latin-ext_latin_cyrillic-900italic.woff2") format("woff2"), url("../fonts/montserrat-v14-cyrillic-ext_latin-ext_latin_cyrillic-900italic.woff") format("woff"), url("../fonts/montserrat-v14-cyrillic-ext_latin-ext_latin_cyrillic-900italic.ttf") format("truetype"), url("../fonts/montserrat-v14-cyrillic-ext_latin-ext_latin_cyrillic-900italic.svg#Montserrat") format("svg");
  font-weight: 900;
  font-style: italic;
  font-display: fallback;
  /* Legacy iOS */
}

/* box model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* focus */
*:focus {
  outline: 0;
}

/* background */
.bg-white {
  background: #fff;
}

.bg-black {
  background: #000;
}

.bg-primary {
  background: #0678be;
}

.bg-primary-dark {
  background: #04598d;
}

/* text */
.text-white {
  color: #fff;
}

.text-black {
  color: #000;
}

.text-primary {
  color: #0678be;
}

.text-primary-dark {
  color: #04598d;
}

.cke_editable {
  padding: 25px;
}

.cke_editable audio {
  background: #000;
}

@media (max-width: 639px) {
  .cke_editable audio {
    width: 100% !important;
  }
}

.cke_editable blockquote {
  margin: 0 0 16px 0;
}

.cke_editable blockquote p {
  margin: 0;
  padding: 15px;
  background: #eee;
}

.cke_editable blockquote p:before {
  margin-right: 0.1em;
  content: "“";
  vertical-align: -0.4em;
  color: #ddd;
  font-family: georgia, sans-serif;
  font-size: 3em;
  line-height: 0.1em;
}

.cke_editable blockquote p:after {
  margin-left: 0.1em;
  content: "”";
  vertical-align: -0.55em;
  color: #ddd;
  font-family: georgia, sans-serif;
  font-size: 3em;
  line-height: 0.1em;
}

.cke_editable body {
  color: #353535;
  font-size: 18px;
}

@media (max-width: 639px) {
  .cke_editable body {
    font-size: 16px;
  }
}

.cke_editable input,
.cke_editable select,
.cke_editable textarea {
  width: 100%;
  transition: 0.18s ease-out;
  vertical-align: bottom;
  color: #595959;
  border: 1px solid #d1d1d1;
  border-radius: 4px;
  outline: none;
  background: #fff;
  box-shadow: inset 1px 2px 8px rgba(0, 0, 0, 0.07);
  font-family: inherit;
  font-size: 16px;
  line-height: 1.5;
}

.cke_editable input,
.cke_editable select {
  height: 40px;
  padding: 0 13px 0 13px;
}

.cke_editable textarea {
  padding: 13px;
}

.cke_editable input[type=checkbox],
.cke_editable input[type=radio],
.cke_editable input[type=file] {
  width: auto;
}

.cke_editable input[type=reset],
.cke_editable input[type=submit] {
  width: auto;
  cursor: pointer;
  color: #fff;
  border: 1px solid transparent;
  background: #0678be;
}

.cke_editable input:hover,
.cke_editable select:hover,
.cke_editable textarea:hover {
  box-shadow: inset 1px 2px 8px rgba(0, 0, 0, 0.02);
}

.cke_editable input[type=reset]:hover,
.cke_editable input[type=submit]:hover {
  background: #04598d;
}

.cke_editable input:focus,
.cke_editable textarea:focus,
.cke_editable select:focus {
  color: #000;
  border: 1px solid #b8b6b6;
  box-shadow: inset 1px 2px 4px rgba(0, 0, 0, 0.01), 0 0 8px rgba(0, 0, 0, 0.2);
}

.cke_editable hr {
  clear: both;
  margin: 16px 0;
  border: 1px solid #353535;
}

.cke_editable html {
  font-family: "Montserrat fonts", sans-serif;
  font-size: 62.5%;
}

@media (min-width: 2000px) {
  .cke_editable html {
    font-size: 93.75%;
  }
}

@media (min-width: 3000px) {
  .cke_editable html {
    font-size: 125%;
  }
}

.cke_editable img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

.cke_editable a {
  text-decoration: none;
  color: #0678be;
}

.cke_editable a:hover {
  text-decoration: underline;
}

.cke_editable ul,
.cke_editable ol {
  margin: 0 0 16px 0;
  padding: 2px 0 2px 15px;
}

.cke_editable ul ul,
.cke_editable ul ol,
.cke_editable ol ol,
.cke_editable ol ul {
  margin: 0;
  padding: 0 0 0 20px;
}

.cke_editable ul li,
.cke_editable ol li {
  margin: 6px 0 6px 0;
  list-style-position: outside;
  line-height: 1.5;
}

.cke_editable p {
  margin: 0 0 18px 0;
  line-height: 1.5;
}

.cke_editable table {
  margin-top: 15px;
  margin-bottom: 15px;
  border-collapse: collapse;
  border-top: 1px solid #353535;
  border-right: 0;
  border-bottom: 0;
  border-left: 1px solid #353535;
}

.cke_editable caption {
  padding: 10px 15px;
  text-align: left;
  border-top: 1px solid #353535;
  border-right: 1px solid #353535;
  border-bottom: 0;
  border-left: 1px solid #353535;
  font-weight: bold;
}

.cke_editable th {
  padding: 10px 15px;
  text-align: left;
  border-top: 0;
  border-right: 1px solid #353535;
  border-bottom: 1px solid #353535;
  border-left: 0;
  background: #eee;
  font-weight: bold;
}

.cke_editable td {
  padding: 10px 15px;
  border-top: 0;
  border-right: 1px solid #353535;
  border-bottom: 1px solid #353535;
  border-left: 0;
}

.cke_editable h1 {
  margin: 0;
  padding: 0;
  font-size: 60px;
  font-weight: 600;
  line-height: 1.1;
}

@media (max-width: 639px) {
  .cke_editable h1 {
    font-size: 35px;
  }
}

.cke_editable h2 {
  margin: 0 0 8px 0;
  padding: 16px 0 0 0;
  color: #0678be;
  font-size: 26px;
  font-weight: bold;
  line-height: 1.1;
}

@media (max-width: 639px) {
  .cke_editable h2 {
    font-size: 28px;
  }
}

.cke_editable h3 {
  margin: 0 0 8px 0;
  padding: 16px 0 0 0;
  color: #000;
  font-size: 25px;
  font-weight: bold;
  line-height: 1.1;
}

.cke_editable h4 {
  margin: 0 0 8px 0;
  padding: 16px 0 0 0;
  color: #000;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.1;
}

.cke_editable h5 {
  margin: 0 0 8px 0;
  padding: 16px 0 0 0;
  color: #000;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.1;
}

.cke_editable h6 {
  margin: 0 0 8px 0;
  padding: 16px 0 0 0;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.1;
}

.cke_editable video {
  background: #000;
}

@media (max-width: 639px) {
  .cke_editable video {
    width: 100% !important;
  }
}

.ck-editor .ck-content {
  min-height: 150px;
  padding: 25px !important;
}

.ck-editor .ck-content > :first-child {
  margin-top: 0 !important;
}

.ck-editor audio {
  background: #000;
}

@media (max-width: 639px) {
  .ck-editor audio {
    width: 100% !important;
  }
}

.ck-editor blockquote {
  margin: 0 0 16px 0;
}

.ck-editor blockquote p {
  margin: 0;
  padding: 15px;
  background: #eee;
}

.ck-editor blockquote p:before {
  margin-right: 0.1em;
  content: "“";
  vertical-align: -0.4em;
  color: #ddd;
  font-family: georgia, sans-serif;
  font-size: 3em;
  line-height: 0.1em;
}

.ck-editor blockquote p:after {
  margin-left: 0.1em;
  content: "”";
  vertical-align: -0.55em;
  color: #ddd;
  font-family: georgia, sans-serif;
  font-size: 3em;
  line-height: 0.1em;
}

.ck-editor body {
  color: #353535;
  font-size: 18px;
}

@media (max-width: 639px) {
  .ck-editor body {
    font-size: 16px;
  }
}

.ck-editor input,
.ck-editor select,
.ck-editor textarea {
  width: 100%;
  transition: 0.18s ease-out;
  vertical-align: bottom;
  color: #595959;
  border: 1px solid #d1d1d1;
  border-radius: 4px;
  outline: none;
  background: #fff;
  box-shadow: inset 1px 2px 8px rgba(0, 0, 0, 0.07);
  font-family: inherit;
  font-size: 16px;
  line-height: 1.5;
}

.ck-editor input,
.ck-editor select {
  height: 40px;
  padding: 0 13px 0 13px;
}

.ck-editor textarea {
  padding: 13px;
}

.ck-editor input[type=checkbox],
.ck-editor input[type=radio],
.ck-editor input[type=file] {
  width: auto;
}

.ck-editor input[type=reset],
.ck-editor input[type=submit] {
  width: auto;
  cursor: pointer;
  color: #fff;
  border: 1px solid transparent;
  background: #0678be;
}

.ck-editor input:hover,
.ck-editor select:hover,
.ck-editor textarea:hover {
  box-shadow: inset 1px 2px 8px rgba(0, 0, 0, 0.02);
}

.ck-editor input[type=reset]:hover,
.ck-editor input[type=submit]:hover {
  background: #04598d;
}

.ck-editor input:focus,
.ck-editor textarea:focus,
.ck-editor select:focus {
  color: #000;
  border: 1px solid #b8b6b6;
  box-shadow: inset 1px 2px 4px rgba(0, 0, 0, 0.01), 0 0 8px rgba(0, 0, 0, 0.2);
}

.ck-editor hr {
  clear: both;
  margin: 16px 0;
  border: 1px solid #353535;
}

.ck-editor html {
  font-family: "Montserrat fonts", sans-serif;
  font-size: 62.5%;
}

@media (min-width: 2000px) {
  .ck-editor html {
    font-size: 93.75%;
  }
}

@media (min-width: 3000px) {
  .ck-editor html {
    font-size: 125%;
  }
}

.ck-editor img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

.ck-editor a {
  text-decoration: none;
  color: #0678be;
}

.ck-editor a:hover {
  text-decoration: underline;
}

.ck-editor ul,
.ck-editor ol {
  margin: 0 0 16px 0;
  padding: 2px 0 2px 15px;
}

.ck-editor ul ul,
.ck-editor ul ol,
.ck-editor ol ol,
.ck-editor ol ul {
  margin: 0;
  padding: 0 0 0 20px;
}

.ck-editor ul li,
.ck-editor ol li {
  margin: 6px 0 6px 0;
  list-style-position: outside;
  line-height: 1.5;
}

.ck-editor p {
  margin: 0 0 18px 0;
  line-height: 1.5;
}

.ck-editor table {
  margin-top: 15px;
  margin-bottom: 15px;
  border-collapse: collapse;
  border-top: 1px solid #353535;
  border-right: 0;
  border-bottom: 0;
  border-left: 1px solid #353535;
}

.ck-editor caption {
  padding: 10px 15px;
  text-align: left;
  border-top: 1px solid #353535;
  border-right: 1px solid #353535;
  border-bottom: 0;
  border-left: 1px solid #353535;
  font-weight: bold;
}

.ck-editor th {
  padding: 10px 15px;
  text-align: left;
  border-top: 0;
  border-right: 1px solid #353535;
  border-bottom: 1px solid #353535;
  border-left: 0;
  background: #eee;
  font-weight: bold;
}

.ck-editor td {
  padding: 10px 15px;
  border-top: 0;
  border-right: 1px solid #353535;
  border-bottom: 1px solid #353535;
  border-left: 0;
}

.ck-editor h1 {
  margin: 0;
  padding: 0;
  font-size: 60px;
  font-weight: 600;
  line-height: 1.1;
}

@media (max-width: 639px) {
  .ck-editor h1 {
    font-size: 35px;
  }
}

.ck-editor h2 {
  margin: 0 0 8px 0;
  padding: 16px 0 0 0;
  color: #0678be;
  font-size: 26px;
  font-weight: bold;
  line-height: 1.1;
}

@media (max-width: 639px) {
  .ck-editor h2 {
    font-size: 28px;
  }
}

.ck-editor h3 {
  margin: 0 0 8px 0;
  padding: 16px 0 0 0;
  color: #000;
  font-size: 25px;
  font-weight: bold;
  line-height: 1.1;
}

.ck-editor h4 {
  margin: 0 0 8px 0;
  padding: 16px 0 0 0;
  color: #000;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.1;
}

.ck-editor h5 {
  margin: 0 0 8px 0;
  padding: 16px 0 0 0;
  color: #000;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.1;
}

.ck-editor h6 {
  margin: 0 0 8px 0;
  padding: 16px 0 0 0;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.1;
}

.ck-editor video {
  background: #000;
}

@media (max-width: 639px) {
  .ck-editor video {
    width: 100% !important;
  }
}
