@charset "UTF-8";

/* box model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* focus */
*:focus {
  outline: 0;
}

/* background */
.bg-white {
  background: #fff;
}

.bg-black {
  background: #000;
}

.bg-primary {
  background: #0678be;
}

.bg-primary-dark {
  background: #04598d;
}

/* text */
.text-white {
  color: #fff;
}

.text-black {
  color: #000;
}

.text-primary {
  color: #0678be;
}

.text-primary-dark {
  color: #04598d;
}

audio {
  background: #000;
}

@media (max-width: 63.9rem) {
  audio {
    width: 100% !important;
  }
}

blockquote {
  margin: 0 0 1.6rem 0;
}

blockquote p {
  margin: 0;
  padding: 1.5rem;
  background: #eee;
}

blockquote p:before {
  margin-right: 0.1em;
  content: "“";
  vertical-align: -0.4em;
  color: #ddd;
  font-family: georgia, sans-serif;
  font-size: 3em;
  line-height: 0.1em;
}

blockquote p:after {
  margin-left: 0.1em;
  content: "”";
  vertical-align: -0.55em;
  color: #ddd;
  font-family: georgia, sans-serif;
  font-size: 3em;
  line-height: 0.1em;
}

body {
  color: #353535;
  font-size: 1.8rem;
}

@media (max-width: 63.9rem) {
  body {
    font-size: 1.6rem;
  }
}

input,
select,
textarea {
  width: 100%;
  transition: 0.18s ease-out;
  vertical-align: bottom;
  color: #595959;
  border: 0.1rem solid #d1d1d1;
  border-radius: 0.4rem;
  outline: none;
  background: #fff;
  box-shadow: inset 0.1rem 0.2rem 0.8rem rgba(0, 0, 0, 0.07);
  font-family: inherit;
  font-size: 1.6rem;
  line-height: 1.5;
}

input,
select {
  height: 4rem;
  padding: 0 1.3rem 0 1.3rem;
}

textarea {
  padding: 1.3rem;
}

input[type=checkbox],
input[type=radio],
input[type=file] {
  width: auto;
}

input[type=reset],
input[type=submit] {
  width: auto;
  cursor: pointer;
  color: #fff;
  border: 0.1rem solid transparent;
  background: #0678be;
}

input:hover,
select:hover,
textarea:hover {
  box-shadow: inset 0.1rem 0.2rem 0.8rem rgba(0, 0, 0, 0.02);
}

input[type=reset]:hover,
input[type=submit]:hover {
  background: #04598d;
}

input:focus,
textarea:focus,
select:focus {
  color: #000;
  border: 0.1rem solid #b8b6b6;
  box-shadow: inset 0.1rem 0.2rem 0.4rem rgba(0, 0, 0, 0.01), 0 0 0.8rem rgba(0, 0, 0, 0.2);
}

hr {
  clear: both;
  margin: 1.6rem 0;
  border: 0.1rem solid #353535;
}

html {
  font-family: "Montserrat fonts", sans-serif;
  font-size: 62.5%;
}

@media (min-width: 2000px) {
  html {
    font-size: 93.75%;
  }
}

@media (min-width: 3000px) {
  html {
    font-size: 125%;
  }
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

a {
  text-decoration: none;
  color: #0678be;
}

a:hover {
  text-decoration: underline;
}

ul,
ol {
  margin: 0 0 1.6rem 0;
  padding: 0.2rem 0 0.2rem 1.5rem;
}

ul ul,
ul ol,
ol ol,
ol ul {
  margin: 0;
  padding: 0 0 0 2rem;
}

ul li,
ol li {
  margin: 0.6rem 0 0.6rem 0;
  list-style-position: outside;
  line-height: 1.5;
}

p {
  margin: 0 0 1.8rem 0;
  line-height: 1.5;
}

table {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  border-collapse: collapse;
  border-top: 0.1rem solid #353535;
  border-right: 0;
  border-bottom: 0;
  border-left: 0.1rem solid #353535;
}

caption {
  padding: 1rem 1.5rem;
  text-align: left;
  border-top: 0.1rem solid #353535;
  border-right: 0.1rem solid #353535;
  border-bottom: 0;
  border-left: 0.1rem solid #353535;
  font-weight: bold;
}

th {
  padding: 1rem 1.5rem;
  text-align: left;
  border-top: 0;
  border-right: 0.1rem solid #353535;
  border-bottom: 0.1rem solid #353535;
  border-left: 0;
  background: #eee;
  font-weight: bold;
}

td {
  padding: 1rem 1.5rem;
  border-top: 0;
  border-right: 0.1rem solid #353535;
  border-bottom: 0.1rem solid #353535;
  border-left: 0;
}

h1 {
  margin: 0;
  padding: 0;
  font-size: 6rem;
  font-weight: 600;
  line-height: 1.1;
}

@media (max-width: 63.9rem) {
  h1 {
    font-size: 3.5rem;
  }
}

h2 {
  margin: 0 0 0.8rem 0;
  padding: 1.6rem 0 0 0;
  color: #0678be;
  font-size: 2.6rem;
  font-weight: bold;
  line-height: 1.1;
}

@media (max-width: 63.9rem) {
  h2 {
    font-size: 2.8rem;
  }
}

h3 {
  margin: 0 0 0.8rem 0;
  padding: 1.6rem 0 0 0;
  color: #000;
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 1.1;
}

h4 {
  margin: 0 0 0.8rem 0;
  padding: 1.6rem 0 0 0;
  color: #000;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.1;
}

h5 {
  margin: 0 0 0.8rem 0;
  padding: 1.6rem 0 0 0;
  color: #000;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 1.1;
}

h6 {
  margin: 0 0 0.8rem 0;
  padding: 1.6rem 0 0 0;
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 1.1;
}

video {
  background: #000;
}

@media (max-width: 63.9rem) {
  video {
    width: 100% !important;
  }
}

.block {
  margin: 0 0 0 0;
}

.block > h2 {
  padding: 0;
}

.field {
  margin-bottom: 1.3rem;
}

.field.field--label-above .field__label {
  display: block;
  margin-bottom: 0.6rem;
}

.form-item {
  margin-bottom: 3rem;
}

.form-item label {
  display: inline-block;
  margin-bottom: 1rem;
  font-size: 1.6rem;
  font-weight: bold;
}

.form-item .description {
  padding: 1rem 0 0 0;
  color: #454545;
  font-size: 1.3rem;
  line-height: 1.5;
}

.form-item .form-type-checkbox,
.form-item .form-type-radio {
  margin: 0.8rem 0;
}

.form-item .form-type-checkbox label,
.form-item .form-type-radio label {
  margin-bottom: 0;
  font-weight: normal;
}

.form-actions {
  margin-bottom: 3rem;
}

.layout {
  margin: 0 0 3rem 0;
}

.layout .block {
  margin: 0 0 6rem 0;
}

.layout .block > h2 {
  font-size: 4rem;
  font-weight: bold;
}

.layout .block > .field {
  margin: 0;
}

.layout .block:last-child {
  margin: 0;
}

@media (max-width: 63.9rem) {
  .layout {
    display: block;
  }
}

@media (min-width: 64rem) {
  .layout {
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
  }
}

ul.menu {
  margin: 0;
  padding: 0;
}

ul.menu li {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 1;
}

.messages {
  margin: 6rem 0 0 0;
}

.node {
  margin: 0;
}

.pager {
  margin: 0 0 1.6rem 0;
  text-align: center;
}

.pager .pager__items {
  display: inline-block;
  clear: none;
  margin: 0;
  padding: 0;
  border: 0.1rem solid #eee;
  border-radius: 0.5rem;
  font-size: 0;
}

.pager .pager__items .pager__item {
  display: inline-block;
  margin: 0;
  padding: 0;
  border-right: 0.1rem solid #eee;
  font-size: 1.6rem;
}

.pager .pager__items .pager__item a {
  display: inline-block;
  padding: 0.5em 1em;
}

.pager .pager__items .pager__item:last-child {
  border-right: 0;
}

.pager .pager__items .pager__item.is-active {
  font-weight: bold;
}

.pager .pager__items .pager__item.is-active a {
  background: #eee;
}

@media (max-width: 63.9rem) {
  .pager .pager__item--first span {
    display: none;
  }

  .pager .pager__item--previous span {
    display: none;
  }

  .pager .pager__item--next span {
    display: none;
  }

  .pager .pager__item--last span {
    display: none;
  }

  .pager .pager__item--first a:after {
    content: "<<";
  }

  .pager .pager__item--previous a:after {
    content: "<";
  }

  .pager .pager__item--next a:after {
    content: ">";
  }

  .pager .pager__item--last a:after {
    content: ">>";
  }
}

@media (max-width: 47.9rem) {
  .pager .pager__item {
    display: none;
  }

  .pager .pager__item.is-active {
    display: inline-block;
  }

  .pager .pager__item--first {
    display: inline-block;
  }

  .pager .pager__item--previous {
    display: inline-block;
  }

  .pager .pager__item--next {
    display: inline-block;
  }

  .pager .pager__item--last {
    display: inline-block;
  }
}

nav.tabs ul.tabs {
  margin: 0 0 3rem 0;
  padding: 0;
  border: 0;
  border-bottom: 0.1rem solid #0678be;
}

nav.tabs ul.tabs:after {
  display: block;
  visibility: hidden;
  clear: both;
  height: 0;
  content: ".";
}

nav.tabs ul.tabs li {
  display: block;
  float: left;
  margin: 0 0.6rem 0 0;
  padding: 0;
  border: 0;
}

nav.tabs ul.tabs li a {
  display: block;
  float: left;
  margin: 0;
  padding: 1rem 2rem;
  border: 0;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
  background: #ddd;
}

nav.tabs ul.tabs li.is-active a {
  color: #fff;
  border: 0;
  background-color: #0678be;
}

nav.tabs ul.tabs li.is-active a:hover {
  background-color: #0678be;
}

@media (max-width: 81.9rem) {
  nav.tabs ul.tabs li a {
    padding: 1rem;
    font-size: 1.6rem;
  }
}

.view .view-content .views-table {
  width: 100%;
}

.view .view-content .views-row {
  margin-bottom: 6rem;
}

.view .more-link {
  margin-top: 1rem;
  padding-top: 1.5rem;
  text-align: left;
  border-top: 0.1rem solid #eee;
}

.block-system-breadcrumb-block {
  margin-bottom: 3rem;
}

.block-system-breadcrumb-block > h2 {
  display: none;
}

@media (min-width: 64rem) {
  .block-system-breadcrumb-block {
    text-align: center;
  }
}

.block-system-breadcrumb-block ol li {
  margin: 0 0 1rem 0;
}

#hero .block-page-title-block {
  text-align: center;
}

#hero .block-page-title-block:last-child {
  margin-bottom: 2rem;
}

#hero .block-page-title-block h1 {
  color: #0678be;
}

.field--name-field-tags .field__items {
  display: inline-block;
  border: 0.1rem solid #eee;
  border-radius: 0.5rem;
}

.field--name-field-tags .field__items .field__item {
  display: inline-block;
  border-right: 0.1rem solid #eee;
}

.field--name-field-tags .field__items .field__item:last-child {
  border-right: 0;
}

.field--name-field-tags .field__items .field__item a {
  display: inline-block;
  padding: 1rem;
}

.field--name-title h2 {
  padding: 0;
}

.field--type-comment .comment {
  position: relative;
  margin: 2rem 0 0 0;
  padding: 1.5rem 2rem;
  border: 0.1rem solid #eee;
}

.field--type-comment .comment .comment__meta > a {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
}

.field--type-comment .indented {
  margin-left: 5rem;
}

.field--type-comment .comment-form__title {
  padding-top: 5rem;
}

.field--type-image img {
  max-width: 100%;
  height: auto;
}

.node--view-mode-full .node-footer {
  margin-top: 5rem;
  padding-top: 2rem;
  border-top: 0.1rem solid #eee;
  font-size: 1.6rem;
  line-height: 1.5;
}

.node--view-mode-full .node__links {
  margin-bottom: 4rem;
}

@media (min-width: 64rem) {
  .node--view-mode-full > .field--name-field-image {
    margin: 0 0 3rem 0;
  }
}

.node--view-mode-teaser h2.title {
  margin: 0 0 1rem 0;
  padding: 0;
  font-size: 2.6rem;
  font-weight: bold;
}

.node--view-mode-teaser .date {
  margin: 0 0 1rem 0;
  font-size: 1.4rem;
}

.node--view-mode-teaser .field--name-field-perex {
  margin: 0;
}

.node--view-mode-teaser .readmore {
  margin-top: -0.5rem;
  padding-top: 0;
}

.node--view-mode-teaser .readmore a {
  display: inline-block;
  color: #0678be;
}

@media (min-width: 30rem) {
  .node--view-mode-teaser {
    display: flex;
    gap: 4rem;
  }

  .node--view-mode-teaser .left {
    flex: 1;
  }

  .node--view-mode-teaser .left .field--type-image {
    overflow: hidden;
  }

  .node--view-mode-teaser .left .field--type-image img {
    transition: all 0.5s;
  }

  .node--view-mode-teaser .left .field--type-image img:hover {
    transform: scale(1.1);
  }

  .node--view-mode-teaser .right {
    flex: 1.5;
  }
}

#copyright {
  text-align: center;
  color: #aaa;
  background: #252525;
}

#copyright .block {
  margin: 0;
  color: #aaa;
  font-size: 1.4rem;
}

#copyright .block > h2 {
  display: none;
}

#copyright .block p,
#copyright .block span {
  display: inline-block;
  margin: 0;
  line-height: 1.5;
}

#copyright .block p a,
#copyright .block span a {
  color: #0678be;
}

#copyright .block p a:hover,
#copyright .block span a:hover {
  color: #ddd;
}

@media (max-width: 63.9rem) {
  #copyright {
    padding: 0 0 6rem 0;
  }

  #copyright .block {
    margin-bottom: 2rem;
  }

  #copyright .block:last-child {
    margin-bottom: 0;
  }
}

@media (min-width: 64rem) {
  #copyright {
    padding: 3rem 0 6rem 0;
  }

  #copyright .region {
    display: flex;
    justify-content: center;
    padding-top: 3rem;
    border-top: 0.1rem solid #353535;
  }

  #copyright .region .block {
    margin-right: 3rem;
    padding-right: 3rem;
    border-right: 0.1rem solid #ddd;
  }

  #copyright .region .block:last-child {
    margin-right: 0;
    padding-right: 0;
    border: 0;
  }
}

#footer {
  color: #fff;
  background: #252525;
}

#footer .block > h2 {
  display: none;
}

#footer .block .field {
  margin: 0;
}

#footer .block .field p {
  margin: 0;
  line-height: 1.6;
}

#footer .block .field a {
  color: #fff;
}

#footer .block .field a:hover {
  color: #0678be;
}

@media (max-width: 63.9rem) {
  #footer {
    padding: 4rem 0 4rem 0;
    text-align: center;
  }

  #footer .block {
    margin-bottom: 3rem;
    padding-bottom: 3rem;
    border-bottom: 0.1rem solid #353535;
  }

  #footer .block:last-child {
    margin-bottom: 0;
  }
}

@media (min-width: 64rem) {
  #footer {
    padding: 8rem 0 4rem 0;
  }

  #footer .region-footer {
    display: flex;
    gap: 4rem;
  }

  #footer .block {
    flex: 1;
  }
}

@media (max-width: 63.9rem) {
  #header .region-header {
    display: flex;
    flex-direction: column;
  }

  #header .region-header .block-language {
    order: 3;
  }

  #header .region-header .block-search {
    order: 2;
  }

  #header .region-header .block-menu {
    order: 1;
  }
}

@media (min-width: 64rem) {
  #header #header-wrapper {
    position: relative;
  }

  #header .region-header {
    display: flex;
  }
}

#hero .block > h2 {
  display: none;
}

#main {
  margin: 0;
}

@media (max-width: 63.9rem) {
  #menu {
    color: #fff;
  }
}

@media (min-width: 64rem) {
  #menu {
    background: #0678be;
  }
}

@media (max-width: 63.9rem) {
  #navbar-wrapper {
    position: relative;
    height: 9rem;
  }

  #navbar-wrapper #navbar {
    position: relative;
    z-index: 100;
    height: 9rem;
    background: #fff;
    box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.3);
  }
}

@media (min-width: 64rem) {
  #navbar-wrapper {
    display: none;
  }
}

body.menu-open #navbar-wrapper #navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 9rem;
}

#pager {
  margin-bottom: 2rem;
}

#pager .block > h2 {
  display: none;
}

#pager .block .view .view-content {
  display: block;
  margin: 0;
  padding: 0;
}

#pager .block .view .view-content ul {
  display: flex;
}

#pager .block .view .view-content ul li {
  display: inline;
}

#pager .block .view .view-content ul li.entity-pager-item-prev {
  flex: 1;
  order: 1;
  text-align: left;
}

#pager .block .view .view-content ul li.entity-pager-item-count {
  flex: 1;
  order: 2;
  text-align: center;
}

#pager .block .view .view-content ul li.entity-pager-item-next {
  flex: 1;
  order: 3;
  text-align: right;
}

.sidebar {
  margin: 0 0 4rem 0;
  color: #353535;
}

.sidebar .block {
  margin-bottom: 6rem;
}

.sidebar .block:last-child {
  margin-bottom: 0;
}

.sidebar .block > h2 {
  margin: 0 0 1.6rem 0;
  padding: 1rem 1.5rem 1.8rem 1.5rem;
  text-transform: uppercase;
  color: #454545;
  border-bottom: 0.2rem solid #454545;
  font-size: 1.6rem;
  font-weight: bold;
}

#copyright .block-menu ul.menu li {
  margin: 0;
  line-height: 1.5;
}

#copyright .block-menu ul.menu li a {
  text-decoration: none;
  color: #ddd;
  font-size: 1.4rem;
}

#copyright .block-menu ul.menu li a:hover {
  color: #0678be;
}

@media (max-width: 63.9rem) {
  #copyright .block-menu ul.menu li a {
    display: block;
    padding: 0.5rem 0;
    text-align: center;
  }
}

@media (min-width: 64rem) {
  #copyright .block-menu ul.menu {
    display: flex;
    flex-wrap: wrap;
  }

  #copyright .block-menu ul.menu li {
    margin-right: 2.5rem;
  }

  #copyright .block-menu ul.menu li:last-child {
    margin-right: 0;
  }

  #copyright .block-menu ul.menu li a {
    display: inline-block;
  }
}

#footer .block-system-branding-block .image img {
  width: 10rem;
  height: auto;
}

#footer .block-menu {
  margin-bottom: 3rem;
}

#footer .block-menu ul.menu li a {
  display: block;
  padding: 0.9rem 0 0.9rem 0;
  text-decoration: none;
  color: #fff;
}

#footer .block-menu ul.menu li a:hover {
  color: #0897ef;
}

@media (max-width: 63.9rem) {
  #footer .block-menu ul.menu li a {
    padding: 1.2rem 0;
    text-align: center;
  }
}

@media (min-width: 64rem) {
  #footer .block-menu {
    margin-bottom: 0;
  }
}

@media (max-width: 63.9rem) {
  #header .block-system-branding-block {
    display: none;
  }
}

@media (min-width: 64rem) {
  #header .block-system-branding-block {
    margin: 0 auto 0 0;
  }

  #header .block-system-branding-block a.logo {
    display: inline-block;
    padding: 2.5rem 0 2.5rem 0;
    text-decoration: none;
  }

  #header .block-system-branding-block a.logo .image {
    display: inline-block;
    padding-right: 0.8rem;
    vertical-align: top;
  }

  #header .block-system-branding-block a.logo .image img {
    width: 7.2rem;
    height: auto;
  }

  #header .block-system-branding-block a.logo .title {
    display: inline-block;
    vertical-align: top;
  }

  #header .block-system-branding-block a.logo .title .site-name {
    display: block;
    padding-top: 0.8rem;
    padding-bottom: 0.2rem;
    color: #000;
    font-size: 3rem;
  }

  #header .block-system-branding-block a.logo .title .site-slogan {
    display: block;
    color: #000;
    font-size: 1.5rem;
  }
}

#header .block-language h2 {
  display: none;
}

#header .block-language ul.links {
  margin: 0;
  padding: 0;
  list-style: none;
}

#header .block-language ul.links li {
  display: inline-block;
  margin: 0;
  padding: 0 1.5rem;
  list-style: none;
}

#header .block-language ul.links li.is-active {
  display: none;
}

#header .block-language ul.links li a {
  text-decoration: none;
  font-weight: bold;
}

@media (max-width: 63.9rem) {
  #header .block-language {
    margin: 0;
    padding: 0 0 2rem 2rem;
  }

  #header .block-language ul.links li {
    padding: 0 1.5rem 0 0;
  }
}

@media (min-width: 64rem) {
  #header .block-language {
    height: 11rem;
    margin: 0;
  }

  #header .block-language li {
    display: block;
    float: left;
    height: 11rem;
    margin: 0;
    padding: 0 2.5rem 0 2.5rem;
    white-space: nowrap;
    text-decoration: none;
    text-transform: uppercase;
    color: #353535;
    font-weight: 800;
    line-height: 11rem;
  }
}

@media (min-width: 64rem) {
  #header .region-header-menu {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
  }

  #header .region-header-menu .block-menu {
    margin-left: 3rem;
  }

  #header .region-header-menu .block-menu > h2 {
    display: none;
  }

  #header .region-header-menu .block-menu ul.menu {
    display: flex;
  }

  #header .region-header-menu .block-menu ul.menu li {
    border-right: 0.1rem solid #f6f6f6;
  }

  #header .region-header-menu .block-menu ul.menu li:last-child {
    border-right: 0;
  }

  #header .region-header-menu .block-menu ul.menu li a {
    display: block;
    padding: 1.2rem 2rem;
  }

  #header .region-header-menu .block-menu ul.menu li.menu-item--active-trail a {
    font-weight: bold;
  }

  #header .region-header-menu .block-menu ul.menu li ul.menu li {
    display: none;
  }
}

@media (min-width: 64rem) {
  #header .region-header-search {
    position: absolute;
    right: 0;
    bottom: 2.5rem;
    display: flex;
  }
}

#header .block-search {
  margin: 0;
  vertical-align: middle;
}

#header .block-search > h2 {
  display: none;
}

#header .block-search form,
#header .block-search div,
#header .block-search input,
#header .block-search span {
  margin: 0;
  padding: 0;
}

#header .block-search form {
  display: flex;
}

@media (max-width: 63.9rem) {
  #header .block-search {
    width: 100%;
    margin-bottom: 5rem;
  }

  #header .block-search .close-search {
    display: none;
  }

  #header .block-search form .form-item {
    flex: 3;
  }

  #header .block-search form .form-item input.form-search {
    width: calc(100% - 2.4rem);
    height: 5rem;
    padding: 0 1.2rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  #header .block-search form .form-actions {
    flex: 1;
  }

  #header .block-search form .form-actions input.form-submit {
    width: 100%;
    height: 5.2rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background: #04598d;
  }
}

@media (min-width: 64rem) {
  #header .block-search {
    display: flex;
  }

  #header .block-search .close-search {
    display: inline-block;
    overflow: hidden;
    width: 4rem;
    height: 4rem;
    margin-left: 1rem;
    cursor: pointer;
    text-indent: 10rem;
    background: url("../images/search-black.svg") no-repeat 50% 50%;
    background-size: 3rem 3rem;
  }

  #header .block-search .form-search {
    visibility: hidden;
    width: 0;
    height: 4rem;
    padding: 0 1.2rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  #header .block-search .form-submit {
    height: 4.2rem;
    padding: 0 1.2rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  #header .block-search .form-actions {
    display: none;
  }
}

@media (min-width: 64rem) {
  #header .block-search.open .close-search {
    background: url("../images/search-close.svg") no-repeat 50% 50%;
  }

  #header .block-search.open .form-search {
    visibility: visible;
    width: 25rem;
    transition: all 0.5s;
  }

  #header .block-search.open .form-actions {
    display: block;
  }
}

#main .block-page-title-block h1 {
  margin: 0 0 4rem 0;
  color: #0678be;
}

@media (max-width: 63.9rem) {
  #main .block-page-title-block h1 {
    margin: 0 0 2rem 0;
  }
}

@media (min-width: 64rem) {
  #center.layout-builder #main .block-page-title-block h1 {
    margin: 0 0 6rem 0;
    text-align: center;
  }
}

#main #search-form .form-wrapper label {
  display: block;
  margin-bottom: 1.2rem;
}

#main #search-form .form-wrapper .form-type-search {
  display: inline-block;
  width: calc(100% - 6rem);
  margin: 0;
}

#main #search-form .form-wrapper .form-type-search .form-search {
  width: calc(100% - 3.4rem);
  height: 5.5rem;
  padding: 0 1.5rem;
  line-height: 5.5rem;
}

#main #search-form .form-wrapper .form-submit {
  display: inline-block;
  overflow: hidden;
  width: 5.5rem;
  height: 5.5rem;
  margin: 0;
  text-indent: 10rem;
  border: 0;
  background: #0678be url("../images/search-white.svg") no-repeat 50% 50%;
  background-size: 3rem 3rem;
}

#main #search-form .form-wrapper .form-submit:hover {
  background-color: #04598d;
}

#main #search-form .search-help-link {
  display: none;
}

#main ol.search-results {
  margin: 5rem 0 0 0;
  padding: 0;
}

#main ol.search-results li {
  margin: 0 0 5rem 0;
  padding: 0;
}

#main ol.search-results li .search-result__title {
  font-size: 1.4rem;
  font-weight: normal;
}

#main .user-login-form {
  padding: 3rem;
  border: 0.1rem solid #ddd;
  background: #eee;
}

#main .user-login-form label {
  display: block;
  margin: 0 0 0.8rem 0;
}

#main .user-login-form .form-text {
  margin-bottom: 0.8rem;
}

#main .user-login-form .form-item {
  margin-top: 0;
  margin-bottom: 3rem;
}

#main .user-login-form .form-actions {
  margin-top: 0;
  margin-bottom: 0;
}

#main .user-login-form .description {
  margin-top: -0.8rem;
}

#main .user-pass {
  padding: 3rem;
  border: 0.1rem solid #ddd;
  background: #eee;
}

#main .user-pass label {
  display: block;
  margin: 0 0 0.8rem 0;
}

#main .user-pass .form-text {
  margin-bottom: 0.8rem;
}

#main .user-pass .description {
  margin-top: -0.8rem;
}

#main .user-pass .form-item {
  margin-top: 0;
  margin-bottom: 0;
}

#main .user-pass .form-actions {
  margin-top: 0;
  margin-bottom: 0;
}

#main .user-pass p {
  font-size: 1.3rem;
}

#main .user-register-form {
  padding: 3rem;
  border: 0.1rem solid #ddd;
  background: #eee;
}

#main .user-register-form label {
  display: block;
  margin: 0 0 0.8rem 0;
}

#main .user-register-form .form-text {
  margin-bottom: 0.8rem;
}

#main .user-register-form .form-item {
  margin-top: 0;
  margin-bottom: 3rem;
}

#main .user-register-form .form-actions {
  margin-top: 0;
  margin-bottom: 0;
}

#main .user-register-form .description {
  margin-top: -0.8rem;
}

#menu .block-menu > h2 {
  display: none;
}

@media (max-width: 63.9rem) {
  #menu .block-menu {
    padding: 0 0 3.5rem 0;
  }

  #menu .block-menu ul.menu {
    margin: 0;
    padding: 0;
  }

  #menu .block-menu ul.menu li {
    position: relative;
    margin: 0;
    padding: 0;
    line-height: 1.5;
  }

  #menu .block-menu ul.menu li a {
    display: block;
    padding: 1.5rem 8rem 1.5rem 2rem;
    text-decoration: none;
    color: #fff;
    border-bottom: 0.1rem solid #0897ef;
    font-size: 2rem;
  }

  #menu .block-menu ul.menu li a.is-active {
    color: #fff;
  }

  #menu .block-menu ul.menu li a.is-active:hover {
    color: #fff;
  }

  #menu .block-menu ul.menu li ul {
    display: none;
    border: 0;
  }

  #menu .block-menu ul.menu li ul.open {
    display: block;
  }

  #menu .block-menu ul.menu li ul li a {
    padding: 1.5rem 8rem 1.5rem 4rem;
  }

  #menu .block-menu ul.menu li ul li ul li a {
    padding: 1.5rem 8rem 1.5rem 6rem;
  }

  #menu .block-menu ul.menu li ul li ul li ul li a {
    padding: 1.5rem 8rem 1.5rem 8rem;
  }

  #menu .block-menu ul.menu li ul li ul li ul li ul li a {
    padding: 1.5rem 8rem 1.5rem 10rem;
  }

  #menu .block-menu ul.menu li:hover {
    color: #fff;
  }

  #menu .block-menu ul.menu li span {
    position: absolute;
    top: 0;
    right: 0;
    width: 6rem;
    height: 6rem;
    cursor: pointer;
    border-left: 0.1rem solid #0897ef;
    background: url("../images/down.svg") no-repeat 50% 50%;
  }

  #menu .block-menu ul.menu li span.open {
    background: url("../images/top.svg") no-repeat 50% 50%;
  }
}

@media (min-width: 64rem) {
  #menu .block-menu {
    position: relative;
  }

  #menu .block-menu ul.menu {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
  }

  #menu .block-menu ul.menu > li {
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 1;
  }

  #menu .block-menu ul.menu > li > a {
    display: block;
    height: 5.4rem;
    margin: 0;
    padding: 0 3rem;
    text-align: center;
    white-space: nowrap;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    line-height: 5.4rem;
  }

  #menu .block-menu ul.menu > li:hover > a {
    color: #fff;
    background: #0568a5;
  }

  #menu .block-menu ul.menu > li.menu-item--active-trail > a {
    color: #fff;
    font-weight: bold;
  }

  #menu .block-menu ul.menu > li.menu-item--active-trail:hover > a {
    color: #fff;
  }

  #menu .block-menu ul.menu > li > ul.menu {
    display: none !important;
    background: #0568a5;
  }

  #menu .block-menu ul.menu > li:hover > ul.menu {
    position: absolute;
    z-index: 1000;
    top: 5.4rem;
    left: 0;
    display: block !important;
    min-width: 100%;
    height: auto;
  }

  #menu .block-menu ul.menu > li:last-child > ul.menu {
    right: 0;
    left: auto;
  }

  #menu .block-menu ul.menu > li > ul.menu > li {
    height: auto;
    margin: 0;
    padding: 0;
    line-height: 1;
  }

  #menu .block-menu ul.menu > li:hover > ul.menu > li > a {
    height: auto;
    margin: 0;
    padding: 1.5rem 3rem;
    text-align: left;
    text-transform: none;
    color: #fff;
    font-weight: normal;
    line-height: 1;
  }

  #menu .block-menu ul.menu > li:hover > ul.menu > li > a:hover {
    color: #fff;
    background-color: #04598d;
  }

  #menu .block-menu ul.menu > li:hover > ul.menu > li > ul.menu {
    display: none !important;
  }
}

#navbar .block-system-branding-block {
  float: left;
  height: 9rem;
  margin: 0;
}

#navbar .block-system-branding-block a {
  display: inline-block;
  padding: 1.5rem 0 1.5rem 2rem;
  text-decoration: none;
}

#navbar .block-system-branding-block a .image {
  display: inline-block;
  padding-right: 1rem;
  vertical-align: top;
}

#navbar .block-system-branding-block a .image img {
  width: auto;
  height: 6rem;
}

#navbar .block-system-branding-block a .title {
  display: inline-block;
  vertical-align: top;
}

#navbar .block-system-branding-block a .title .site-name {
  display: block;
  color: #000;
  font-size: 3.2rem;
}

#navbar .block-system-branding-block a .title .site-slogan {
  display: block;
  color: #000;
  font-size: 1.5rem;
}

@media (max-width: 47.9rem) {
  #navbar .block-system-branding-block a .title {
    display: none;
  }
}

#navbar .icon-menu {
  position: absolute;
  z-index: 200;
  top: 0;
  right: 0;
  width: 8rem;
  height: 9rem;
  margin: 0;
  padding: 0;
  text-align: center;
  border: 0;
  border-left: 0.1rem solid #eee;
  background: none;
}

#navbar .icon-menu span.icon-menu-1,
#navbar .icon-menu span.icon-menu-2,
#navbar .icon-menu span.icon-menu-3 {
  position: relative;
  top: 0;
  display: block;
  width: 3rem;
  height: 0.4rem;
  margin: 0.6rem auto;
  border-radius: 0.2rem;
  background: #000;
}

#navbar .icon-menu span.icon-menu-1,
#navbar .icon-menu span.icon-menu-3 {
  transition: all 0.1s 0.1s;
}

#navbar .icon-menu span.icon-menu-2 {
  transition: all 0.1s 0.1s;
}

@media (min-width: 64rem) {
  #navbar .icon-menu {
    display: none;
  }
}

/* open */
body.menu-open #navbar .icon-menu span.icon-menu-1 {
  position: relative;
  top: 1rem;
  transform: rotate(45deg);
}

body.menu-open #navbar .icon-menu span.icon-menu-2 {
  visibility: hidden;
  transition: all 0.1s 0s;
}

body.menu-open #navbar .icon-menu span.icon-menu-3 {
  position: relative;
  top: -1rem;
  transform: rotate(-45deg);
}

body.menu-open #navbar .icon-menu span.icon-menu-1,
body.menu-open #navbar .icon-menu span.icon-menu-3 {
  transition: all 0 0;
}

@media (max-width: 63.9rem) {
  .sidebar .block-menu {
    display: none;
  }
}

@media (min-width: 48rem) {
  .sidebar .block-menu ul.menu li a {
    display: block;
    padding: 1.5rem;
    text-decoration: none;
    color: #454545;
    border-bottom: 0.1rem solid #eee;
    background: #fff;
  }

  .sidebar .block-menu ul.menu li a.is-active {
    color: #454545;
    background: transparent;
    font-weight: bold;
  }

  .sidebar .block-menu ul.menu li a.is-active:hover {
    color: #454545;
    background: transparent;
  }

  .sidebar .block-menu ul.menu li ul li a {
    padding-left: 4rem;
  }

  .sidebar .block-menu ul.menu li ul ul li a {
    padding-left: 6.5rem;
  }

  .sidebar .block-menu ul.menu li ul ul ul li a {
    padding-left: 8rem;
  }

  .sidebar .block-menu ul.menu li a:hover {
    text-decoration: underline;
    color: #454545;
    background: transparent;
  }
}

body {
  background: #fff;
}

@media (max-width: 63.9rem) {
  #center {
    padding: 4rem 0 4rem 0;
  }

  #center .region-center {
    display: flex;
    flex-direction: column;
  }

  #center .region-center #main {
    order: 1;
  }

  #center .region-center #sidebar-first {
    order: 2;
  }

  #center .region-center #sidebar-second {
    order: 3;
  }
}

@media (min-width: 64rem) {
  #center {
    overflow: hidden;
    padding: 4rem 0 10rem 0;
  }

  #center .region-center {
    display: flex;
    gap: 8rem;
  }

  #center.sidebar-first #main {
    flex: 11;
  }

  #center.sidebar-second #main {
    flex: 11;
  }

  #center.two-sidebars #main {
    flex: 9;
  }

  #center.no-sidebars #main {
    width: 85rem;
    margin: 0 auto;
  }

  #center #sidebar-first {
    flex: 4;
  }

  #center #sidebar-second {
    flex: 4;
  }
}

.container {
  position: relative;
  padding: 0 3rem;
}

@media (min-width: 48rem) {
  .container {
    width: 100%;
    padding: 0 5rem;
  }
}

@media (min-width: 82rem) {
  .container {
    width: 120rem;
    margin: 0 auto;
    padding: 0;
  }
}

@media (max-width: 63.9rem) {
  #navbar-collapse {
    display: none;
  }

  body.menu-open #navbar-collapse {
    position: fixed;
    z-index: 1000;
    top: 9rem;
    left: 0;
    display: flex;
    overflow-y: auto;
    flex-direction: column;
    width: 100%;
    height: calc(100% - 9rem);
    padding-top: 3.5rem;
    color: #fff;
    background: #0678be;
  }

  body.menu-open #navbar-collapse #header {
    order: 2;
  }

  body.menu-open #navbar-collapse #menu {
    order: 1;
  }
}

@media (max-width: 63.9rem) {
  body.path-frontpage #center {
    padding: 4rem 0 6rem 0;
  }

  body.path-frontpage #center .region-content .block {
    margin-bottom: 6rem;
  }

  body.path-frontpage #center .region-content .block:last-child {
    margin-bottom: 0;
  }

  body.path-frontpage #center .view-frontpage .view-content .views-row:last-child {
    margin-bottom: 0;
  }
}

@media (min-width: 64rem) {
  body.path-frontpage #center {
    padding: 8rem 0 8rem 0;
  }

  body.path-frontpage #center .region-content .block {
    margin-bottom: 8rem;
  }

  body.path-frontpage #center .region-content .block:last-child {
    margin-bottom: 0;
  }

  body.path-frontpage #center.no-sidebars #main {
    width: auto;
    margin: 0;
  }

  body.path-frontpage #center.no-sidebars #main .view-frontpage .view-content {
    display: flex;
    gap: 6rem;
  }

  body.path-frontpage #center.no-sidebars #main .view-frontpage .view-content .views-row {
    flex: 1;
    margin-bottom: 0;
  }

  body.path-frontpage #center.no-sidebars #main .view-frontpage .view-content .views-row .node--view-mode-teaser {
    display: block;
  }
}
