// NODE - full

.node--view-mode-full {
  .node-footer {
    margin-top: 5rem;
    padding-top: 2rem;
    border-top: 0.1rem solid $gray-4;
    font-size: 1.6rem;
    line-height: 1.5;
  }

  .node__links {
    margin-bottom: 4rem;
  }

  @media (min-width: $screen-md-min) {
    & > .field--name-field-image {
      margin: 0 0 3rem 0;
    }
  }
}
