// NODE - teaser

.node--view-mode-teaser {
  h2.title {
    margin: 0 0 1rem 0;
    padding: 0;
    font-size: 2.6rem;
    font-weight: bold;
  }

  .date {
    margin: 0 0 1rem 0;
    font-size: 1.4rem;
  }

  .field--name-field-perex {
    margin: 0;
  }

  .readmore {
    margin-top: -0.5rem;
    padding-top: 0;

    a {
      display: inline-block;
      color: $primary-color;
    }
  }

  @media (min-width: $screen-xs-min) {
    & {
      display: flex;
      gap: 4rem;

      .left {
        flex: 1;

        .field--type-image {
          overflow: hidden;

          img {
            transition: all 0.5s;

            &:hover {
              transform: scale(1.1);
            }
          }
        }
      }

      .right {
        flex: 1.5;
      }
    }
  }
}
