// variables

// COLORS
$white: #fff;
$black: #000;
$primary-color: #0678be;
$primary-light-color: #0897ef; // lighten($primary-color, 10%);
$primary-dark-color: #04598d; // darken($primary-color, 10%);
$primary-dark-color-2: #0568a5; //darken($primary-color, 5%);
$gray-1: #454545;
$gray-2: #353535;
$gray-3: #252525;
$gray-4: #eee;
$gray-5: #ddd;
$gray-6: #aaa;

// BREAKPOINTS
$screen-xs-min: 30rem;
$screen-sm-min: 48rem;
$screen-md-min: 64rem;
$screen-lg-min: 82rem;
$screen-xs-max: ($screen-sm-min - 0.1rem);
$screen-sm-max: ($screen-md-min - 0.1rem);
$screen-md-max: ($screen-lg-min - 0.1rem);
