// center

#center {
  @media (max-width: $screen-sm-max) {
    padding: 4rem 0 4rem 0;

    .region-center {
      display: flex;
      flex-direction: column;

      #main {
        order: 1;
      }

      #sidebar-first {
        order: 2;
      }

      #sidebar-second {
        order: 3;
      }
    }
  }

  @media (min-width: $screen-md-min) {
    overflow: hidden;
    padding: 4rem 0 10rem 0;

    .region-center {
      display: flex;
      gap: 8rem;
    }

    // main
    &.sidebar-first {
      #main {
        flex: 11;
      }
    }

    &.sidebar-second {
      #main {
        flex: 11;
      }
    }

    &.two-sidebars #main {
      flex: 9;
    }

    &.no-sidebars #main {
      width: 85rem;
      margin: 0 auto;
    }

    // sidebar first
    #sidebar-first {
      flex: 4;
    }

    // sidebar second
    #sidebar-second {
      flex: 4;
    }
  }
}
