// navbar - collapse

@media (max-width: $screen-sm-max) {
  #navbar-collapse {
    display: none;
  }

  body.menu-open {
    #navbar-collapse {
      position: fixed;
      z-index: 1000;
      top: 9rem;
      left: 0;
      display: flex;
      overflow-y: auto;
      flex-direction: column;
      width: 100%;
      height: calc(100% - 9rem);
      padding-top: 3.5rem;
      color: $white;
      background: $primary-color;

      #header {
        order: 2;
      }

      #menu {
        order: 1;
      }
    }
  }
}
