// frontpage

body.path-frontpage {
  #center {
    @media (max-width: $screen-sm-max) {
      padding: 4rem 0 6rem 0;

      .region-content {
        .block {
          margin-bottom: 6rem;

          &:last-child {
            margin-bottom: 0;
          }
        }
      }

      .view-frontpage {
        .view-content {
          .views-row:last-child {
            margin-bottom: 0;
          }
        }
      }
    }

    @media (min-width: $screen-md-min) {
      padding: 8rem 0 8rem 0;

      .region-content {
        .block {
          margin-bottom: 8rem;

          &:last-child {
            margin-bottom: 0;
          }
        }
      }

      &.no-sidebars #main {
        width: auto;
        margin: 0;

        .view-frontpage {
          .view-content {
            display: flex;
            gap: 6rem;

            .views-row {
              flex: 1;
              margin-bottom: 0;

              .node--view-mode-teaser {
                display: block;
              }
            }
          }
        }
      }
    }
  }
}
