// html

html {
  font-family: "Montserrat fonts", sans-serif;
  font-size: 62.5%;
}

@media (min-width: 2000px) {
  html {
    font-size: calc(62.5% * 1.5);
  }
}

@media (min-width: 3000px) {
  html {
    font-size: calc(62.5% * 2);
  }
}
