// title

h1 {
  margin: 0;
  padding: 0;
  font-size: 6rem;
  font-weight: 600;
  line-height: 1.1;

  @media (max-width: $screen-sm-max) {
    font-size: 3.5rem;
  }
}

h2 {
  margin: 0 0 0.8rem 0;
  padding: 1.6rem 0 0 0;
  color: $primary-color;
  font-size: 2.6rem;
  font-weight: bold;
  line-height: 1.1;

  @media (max-width: $screen-sm-max) {
    font-size: 2.8rem;
  }
}

h3 {
  margin: 0 0 0.8rem 0;
  padding: 1.6rem 0 0 0;
  color: $black;
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 1.1;
}

h4 {
  margin: 0 0 0.8rem 0;
  padding: 1.6rem 0 0 0;
  color: $black;
  font-size: 2.0rem;
  font-weight: bold;
  line-height: 1.1;
}

h5 {
  margin: 0 0 0.8rem 0;
  padding: 1.6rem 0 0 0;
  color: $black;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 1.1;
}

h6 {
  margin: 0 0 0.8rem 0;
  padding: 1.6rem 0 0 0;
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 1.1;
}
