// FOOTER - menu

#footer {
  .block-menu {
    margin-bottom: 3rem;

    ul.menu {
      li {
        a {
          display: block;
          padding: 0.9rem 0 0.9rem 0;
          text-decoration: none;
          color: $white;

          &:hover {
            color: $primary-light-color;
          }
        }
      }
    }

    @media (max-width: $screen-sm-max) {
      ul.menu {
        li {
          a {
            padding: 1.2rem 0;
            text-align: center;
          }
        }
      }
    }

    @media (min-width: $screen-md-min) {
      & {
        margin-bottom: 0;
      }
    }
  }
}
