// BLOCK - breadcrumb

.block-system-breadcrumb-block {
  margin-bottom: 3rem;

  & > h2 {
    display: none;
  }

  @media (min-width: $screen-md-min) {
    text-align: center;
  }

  ol {
    li {
      margin: 0 0 1rem 0;
    }
  }
}
