// HEADER -- region header menu

#header {
  .region-header-menu {
    @media (min-width: $screen-md-min) {
      position: absolute;
      top: 0;
      right: 0;
      display: flex;

      .block-menu {
        margin-left: 3rem;

        & > h2 {
          display: none;
        }

        ul.menu {
          display: flex;

          li {
            border-right: 0.1rem solid #f6f6f6;

            &:last-child {
              border-right: 0;
            }

            a {
              display: block;
              padding: 1.2rem 2rem;
            }

            &.menu-item--active-trail {
              a {
                font-weight: bold;
              }
            }

            // 2
            ul.menu {
              li {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}
