// HEADER - branding

#header {
  .block-system-branding-block {
    @media (max-width: $screen-sm-max) {
      & {
        display: none;
      }
    }

    @media (min-width: $screen-md-min) {
      & {
        margin: 0 auto 0 0;

        a.logo {
          display: inline-block;
          padding: 2.5rem 0 2.5rem 0;
          text-decoration: none;

          .image {
            display: inline-block;
            padding-right: 0.8rem;
            vertical-align: top;

            img {
              width: 7.2rem;
              height: auto;
            }
          }

          .title {
            display: inline-block;
            vertical-align: top;

            .site-name {
              display: block;
              padding-top: 0.8rem;
              padding-bottom: 0.2rem;
              color: $black;
              font-size: 3rem;
            }

            .site-slogan {
              display: block;
              color: $black;
              font-size: 1.5rem;
            }
          }
        }
      }
    }
  }
}
