// HEADER - search

#header {
  .region-header-search {
    @media (min-width: $screen-md-min) {
      position: absolute;
      right: 0;
      bottom: 2.5rem;
      display: flex;
    }
  }

  .block-search {
    margin: 0;
    vertical-align: middle;

    & > h2 {
      display: none;
    }

    form,
    div,
    input,
    span {
      margin: 0;
      padding: 0;
    }

    form {
      display: flex;
    }

    @media (max-width: $screen-sm-max) {
      width: 100%;
      margin-bottom: 5rem;

      .close-search {
        display: none;
      }

      form {
        .form-item {
          flex: 3;

          input.form-search {
            width: calc(100% - 2.4rem);
            height: 5rem;
            padding: 0 1.2rem;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
          }
        }

        .form-actions {
          flex: 1;

          input.form-submit {
            width: 100%;
            height: 5.2rem;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            background: $primary-dark-color;
          }
        }
      }
    }

    @media (min-width: $screen-md-min) {
      display: flex;

      .close-search {
        display: inline-block;
        overflow: hidden;
        width: 4rem;
        height: 4rem;
        margin-left: 1rem;
        cursor: pointer;
        text-indent: 10rem;
        background: url("../images/search-black.svg") no-repeat 50% 50%;
        background-size: 3rem 3rem;
      }

      .form-search {
        visibility: hidden;
        width: 0;
        height: 4rem;
        padding: 0 1.2rem;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }

      .form-submit {
        height: 4.2rem;
        padding: 0 1.2rem;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }

      .form-actions {
        display: none;
      }
    }

    &.open {
      @media (min-width: $screen-md-min) {
        .close-search {
          background: url("../images/search-close.svg") no-repeat 50% 50%;
        }

        .form-search {
          visibility: visible;
          width: 25rem;
          transition: all 0.5s;
        }

        .form-actions {
          display: block;
        }
      }
    }
  }
}
