// form

// form-item
.form-item {
  margin-bottom: 3rem;

  label {
    display: inline-block;
    margin-bottom: 1rem;
    font-size: 1.6rem;
    font-weight: bold;
  }

  .description {
    padding: 1rem 0 0 0;
    color: $gray-1;
    font-size: 1.3rem;
    line-height: 1.5;
  }

  .form-type-checkbox,
  .form-type-radio {
    margin: 0.8rem 0;

    label {
      margin-bottom: 0;
      font-weight: normal;
    }
  }
}

// form-actions
.form-actions {
  margin-bottom: 3rem;
}
