// layout

.layout {
  margin: 0 0 3rem 0;

  .block {
    margin: 0 0 6rem 0;

    & > h2 {
      font-size: 4rem;
      font-weight: bold;
    }

    & > .field {
      margin: 0;
    }

    &:last-child {
      margin: 0;
    }
  }

  @media (max-width: $screen-sm-max) {
    display: block;
  }

  @media (min-width: $screen-md-min) {
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
  }
}
