// view

.view {
  .view-content {
    // table
    .views-table {
      width: 100%;
    }

    // row
    .views-row {
      margin-bottom: 6rem;
    }
  }

  .more-link {
    margin-top: 1rem;
    padding-top: 1.5rem;
    text-align: left;
    border-top: 0.1rem solid #eee;
  }
}
