// MAIN - search result

#main {
  #search-form {
    .form-wrapper {
      label {
        display: block;
        margin-bottom: 1.2rem;
      }

      .form-type-search {
        display: inline-block;
        width: calc(100% - 6rem);
        margin: 0;

        .form-search {
          width: calc(100% - 3.4rem);
          height: 5.5rem;
          padding: 0 1.5rem;
          line-height: 5.5rem;
        }
      }

      .form-submit {
        display: inline-block;
        overflow: hidden;
        width: 5.5rem;
        height: 5.5rem;
        margin: 0;
        text-indent: 10rem;
        border: 0;
        background: $primary-color url("../images/search-white.svg") no-repeat 50% 50%;
        background-size: 3rem 3rem;

        &:hover {
          background-color: $primary-dark-color;
        }
      }
    }

    .search-help-link {
      display: none;
    }
  }

  ol.search-results {
    margin: 5rem 0 0 0;
    padding: 0;

    li {
      margin: 0 0 5rem 0;
      padding: 0;

      .search-result__title {
        font-size: 1.4rem;
        font-weight: normal;
      }
    }
  }
}
