// copyright

#copyright {
  text-align: center;
  color: $gray-6;
  background: $gray-3;

  .block {
    margin: 0;
    color: $gray-6;
    font-size: 1.4rem;

    & > h2 {
      display: none;
    }

    p,
    span {
      display: inline-block;
      margin: 0;
      line-height: 1.5;

      a {
        color: $primary-color;

        &:hover {
          color: #ddd;
        }
      }
    }
  }

  @media (max-width: $screen-sm-max) {
    padding: 0 0 6rem 0;

    .block {
      margin-bottom: 2rem;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  @media (min-width: $screen-md-min) {
    padding: 3rem 0 6rem 0;

    .region {
      display: flex;
      justify-content: center;
      padding-top: 3rem;
      border-top: 0.1rem solid #353535;

      .block {
        margin-right: 3rem;
        padding-right: 3rem;
        border-right: 0.1rem solid #ddd;

        &:last-child {
          margin-right: 0;
          padding-right: 0;
          border: 0;
        }
      }
    }
  }
}
