// footer

#footer {
  color: $white;
  background: $gray-3;

  .block {
    & > h2 {
      display: none;
    }

    .field {
      margin: 0;

      p {
        margin: 0;
        line-height: 1.6;
      }

      a {
        color: #fff;

        &:hover {
          color: $primary-color;
        }
      }
    }
  }

  @media (max-width: $screen-sm-max) {
    padding: 4rem 0 4rem 0;
    text-align: center;

    .block {
      margin-bottom: 3rem;
      padding-bottom: 3rem;
      border-bottom: 0.1rem solid $gray-2;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  @media (min-width: $screen-md-min) {
    padding: 8rem 0 4rem 0;

    .region-footer {
      display: flex;
      gap: 4rem;
    }

    .block {
      flex: 1;
    }
  }
}
