// pager

#pager {
  margin-bottom: 2rem;

  .block {
    & > h2 {
      display: none;
    }

    .view {
      .view-content {
        display: block;
        margin: 0;
        padding: 0;

        ul {
          display: flex;

          li {
            display: inline;

            &.entity-pager-item-prev {
              flex: 1;
              order: 1;
              text-align: left;
            }

            &.entity-pager-item-count {
              flex: 1;
              order: 2;
              text-align: center;
            }

            &.entity-pager-item-next {
              flex: 1;
              order: 3;
              text-align: right;
            }
          }
        }
      }
    }
  }
}
