// sidebar

.sidebar {
  margin: 0 0 4rem 0;
  color: $gray-2;

  .block {
    margin-bottom: 6rem;

    &:last-child {
      margin-bottom: 0;
    }

    & > h2 {
      margin: 0 0 1.6rem 0;
      padding: 1rem 1.5rem 1.8rem 1.5rem;
      text-transform: uppercase;
      color: $gray-1;
      border-bottom: 0.2rem solid $gray-1;
      font-size: 1.6rem;
      font-weight: bold;
    }
  }
}
