// COPYRIGHT - menu

#copyright {
  .block-menu {
    ul.menu {
      li {
        margin: 0;
        line-height: 1.5;

        a {
          text-decoration: none;
          color: #ddd;
          font-size: 1.4rem;

          &:hover {
            color: $primary-color;
          }
        }
      }
    }

    @media (max-width: $screen-sm-max) {
      ul.menu {
        li {
          a {
            display: block;
            padding: 0.5rem 0;
            text-align: center;
          }
        }
      }
    }

    @media (min-width: $screen-md-min) {
      ul.menu {
        display: flex;
        flex-wrap: wrap;

        li {
          margin-right: 2.5rem;

          &:last-child {
            margin-right: 0;
          }

          a {
            display: inline-block;
          }
        }
      }
    }
  }
}
