// SIDEBAR - menu

.sidebar {
  .block-menu {
    @media (max-width: $screen-sm-max) {
      & {
        display: none;
      }
    }

    @media (min-width: $screen-sm-min) {
      ul.menu {
        li {
          a {
            display: block;
            padding: 1.5rem;
            text-decoration: none;
            color: $gray-1;
            border-bottom: 0.1rem solid $gray-4;
            background: $white;

            &.is-active {
              color: $gray-1;
              background: transparent;
              font-weight: bold;

              &:hover {
                color: $gray-1;
                background: transparent;
              }
            }
          }

          // 2
          ul {
            li {
              a {
                padding-left: 4rem;
              }
            }

            // 3
            ul {
              li {
                a {
                  padding-left: 6.5rem;
                }
              }

              // 4
              ul {
                li {
                  a {
                    padding-left: 8rem;
                  }
                }
              }
            }
          }

          a:hover {
            text-decoration: underline;
            color: $gray-1;
            background: transparent;
          }
        }
      }
    }
  }
}
