// MENU - menu

#menu {
  .block-menu {
    & > h2 {
      display: none;
    }

    @media (max-width: $screen-sm-max) {
      & {
        padding: 0 0 3.5rem 0;
      }

      // 1
      ul.menu {
        margin: 0;
        padding: 0;

        li {
          position: relative;
          margin: 0;
          padding: 0;
          line-height: 1.5;

          a {
            display: block;
            padding: 1.5rem 8rem 1.5rem 2rem;
            text-decoration: none;
            color: $white;
            border-bottom: 0.1rem solid $primary-light-color;
            font-size: 2rem;

            &.is-active {
              color: $white;
            }

            &.is-active:hover {
              color: $white;
            }
          }

          // 2
          ul {
            display: none;
            border: 0;

            &.open {
              display: block;
            }

            li {
              a {
                padding: 1.5rem 8rem 1.5rem 4rem;
              }

              // 3
              ul {
                li {
                  a {
                    padding: 1.5rem 8rem 1.5rem 6rem;
                  }

                  // 4
                  ul {
                    li {
                      a {
                        padding: 1.5rem 8rem 1.5rem 8rem;
                      }

                      // 5
                      ul {
                        li {
                          a {
                            padding: 1.5rem 8rem 1.5rem 10rem;
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }

          &:hover {
            color: $white;
          }

          span {
            position: absolute;
            top: 0;
            right: 0;
            width: 6rem;
            height: 6rem;
            cursor: pointer;
            border-left: 0.1rem solid $primary-light-color;
            background: url("../images/down.svg") no-repeat 50% 50%;

            &.open {
              background: url("../images/top.svg") no-repeat 50% 50%;
            }
          }
        }
      }
    }

    @media (min-width: $screen-md-min) {
      & {
        position: relative;
      }

      // 1
      ul.menu {
        display: flex;
        flex-direction: row;
        margin: 0;
        padding: 0;
      }

      ul.menu > li {
        position: relative;
        // flex-grow: 1;
        margin: 0;
        padding: 0;
        list-style: none;
        line-height: 1;
      }

      ul.menu > li > a {
        display: block;
        height: 5.4rem;
        margin: 0;
        padding: 0 3rem;
        text-align: center;
        white-space: nowrap;
        text-decoration: none;
        text-transform: uppercase;
        color: $white;
        line-height: 5.4rem;
      }

      ul.menu > li:hover > a {
        color: $white;
        background: $primary-dark-color-2;
      }

      ul.menu > li.menu-item--active-trail > a {
        color: $white;
        font-weight: bold;
      }

      ul.menu > li.menu-item--active-trail:hover > a {
        color: $white;
      }

      // 2
      ul.menu > li > ul.menu {
        display: none !important;
        background: $primary-dark-color-2;
      }

      ul.menu > li:hover > ul.menu {
        position: absolute;
        z-index: 1000;
        top: 5.4rem;
        left: 0;
        display: block !important;
        min-width: 100%;
        height: auto;
      }

      ul.menu > li:last-child > ul.menu {
        right: 0;
        left: auto;
      }

      ul.menu > li > ul.menu > li {
        height: auto;
        margin: 0;
        padding: 0;
        line-height: 1;
      }

      ul.menu > li:hover > ul.menu > li > a {
        height: auto;
        margin: 0;
        padding: 1.5rem 3rem;
        text-align: left;
        text-transform: none;
        color: $white;
        font-weight: normal;
        line-height: 1;
      }

      ul.menu > li:hover > ul.menu > li > a:hover {
        color: $white;
        background-color: $primary-dark-color;
      }

      // 3
      ul.menu > li:hover > ul.menu > li > ul.menu {
        display: none !important;
      }
    }
  }
}
