// NAVBAR - branding

#navbar {
  .block-system-branding-block {
    float: left;
    height: 9rem;
    margin: 0;

    a {
      display: inline-block;
      padding: 1.5rem 0 1.5rem 2rem;
      text-decoration: none;

      .image {
        display: inline-block;
        padding-right: 1rem;
        vertical-align: top;

        img {
          width: auto;
          height: 6rem;
        }
      }

      .title {
        display: inline-block;
        vertical-align: top;

        .site-name {
          display: block;
          color: $black;
          font-size: 3.2rem;
        }

        .site-slogan {
          display: block;
          color: $black;
          font-size: 1.5rem;
        }
      }
    }

    @media (max-width: $screen-xs-max) {
      & {
        a {
          .title {
            display: none;
          }
        }
      }
    }
  }
}
