// NAVBAR - icons

#navbar {
  .icon-menu {
    position: absolute;
    z-index: 200;
    top: 0;
    right: 0;
    width: 8rem;
    height: 9rem;
    margin: 0;
    padding: 0;
    text-align: center;
    border: 0;
    border-left: 0.1rem solid #eee;
    background: none;

    span.icon-menu-1,
    span.icon-menu-2,
    span.icon-menu-3 {
      position: relative;
      top: 0;
      display: block;
      width: 3rem;
      height: 0.4rem;
      margin: 0.6rem auto;
      border-radius: 0.2rem;
      background: #000;
    }

    span.icon-menu-1,
    span.icon-menu-3 {
      transition: all 0.1s 0.1s;
    }

    span.icon-menu-2 {
      transition: all 0.1s 0.1s;
    }

    @media (min-width: $screen-md-min) {
      & {
        display: none;
      }
    }
  }
}

/* open */
body.menu-open {
  #navbar {
    .icon-menu {
      span.icon-menu-1 {
        position: relative;
        top: 1rem;
        transform: rotate(45deg);
      }

      span.icon-menu-2 {
        visibility: hidden;
        transition: all 0.1s 0s;
      }

      span.icon-menu-3 {
        position: relative;
        top: -1rem;
        transform: rotate(-45deg);
      }

      span.icon-menu-1,
      span.icon-menu-3 {
        transition: all 0 0;
      }
    }
  }
}
